/* .grid-container{
    height: 300px;
    width: 400px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3,1);
    grid-template-rows: repeat(4,1);
    padding: 10px;
    gap: 5px;
}
.box{
    border: 1px solid blue;
    text-align: center;
}
#header,#foot {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: red;
}
#side{
    grid-row-start: 2;
    grid-column-start: 4;
    background-color: aqua;
}
#content-1{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: brown;
} */
nav{
    width: 100vw;
    background-color: red;
    display: flex;
    box-shadow :-8px -8px 6px 6px rgba (0, 0, 0, 0.292);
}
.nav-log{
    width: 40%;
    background-color: blue;
    padding: 15px;
    padding-left: 50px;
}
.nav-log p{
    color:blue;
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-logo p span{
    color: orangered
}.nav-list{
    width: 60%;
    background-color: coral;
}
.nav-list ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
}
.nav-list ul li{
    font-weight: 600;
}
.nav-list ul li:hover{
    transition: all 0.9s;
    color: orangered;
    text-shadow: 3px 2px 10px orangered;
    text-decoration: underline;
}
